.top{
    height:400px;
    background-color: blueviolet;
}
.box1{
    height:200px;
    background-color: aqua;
}
.box2{
    height:200px;
    background-color: palevioletred;
}
.box3{
    height:200px;
    background-color: brown;

}
.box4{
    height:200px;
    background-color: blue;
}