.box1{

    height: 200px;
    background-color: white;
}
.box2{

    height: 200px;
    background-color: red;
}

.box3{

    height: 200px;
    background-color: white;
}
.b1{

    height: 200px;
    background-color: white;
}
.b2{

    height: 200px;
    background-color: green;
}
.b3{

    height: 200px;
    background-color: white;
}
.b4{

    height: 200px;
    background-color: violet;
}
.b5{

    height: 200px;
    background-color: white;
}

.bo1{

    height: 200px;
    background-color: white;
}

.bo2{

    height: 200px;
    background-color: red;
}
.bo3{

    height: 200px;
    background-color: white;
}





