
.box1{

    height: 200px;
    background-color: red;
}

.box2{

    height: 200px;
    background-color:burlywood;
}
.box3{

    height: 200px;
    background-color:blue;
}

.box4{

    height: 200px;
    background-color:aqua;
}
.box5{

    height: 200px;
    background-color:rebeccapurple;
}
.box6{

    height: 200px;
    background-color:salmon;
}

.boxmid1{

    height: 600px;
    background-color: violet;
}

.boxmid2{

    height: 600px;
    background-color:red;
}

