

.box1{
     height: 400px;
     background-color: blue;
    }

.box2{
     height: 400px;
     background-color:red;
    }
.box3{
     height: 400px;
     background-color: slateblue;
    }